.chiaroscuro-splash {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0C0A1D;
    color: #FBBF24;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    pointer-events: none;
}

.chiaroscuro-splash span {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.chiaroscuro-splash small {
    color: #9491C0;
}
